@page
@model IndexModel

<!DOCTYPE html>
    <head>
        <title>KSUCS K-12 Outreach Map Tool</title>
        <link type="text/css" rel="stylesheet" href="css/site.css">
    </head>
    <body>

        <h1>K-State Computer Science K-12 Outreach Map Tool</h1>
        <p>
            This service provides a configurable map of Kansas K-12 
            school districts as an SVG file, accessible at <a href="@Model.BaseUrl/Map">@Model.BaseUrl/Map</a>
        </p> 
        <img src="@Model.BaseUrl/Map" alt="District Map"/>

        <h2>Marking School Districts</h2>
        <p>
            You can indicate specific school districts to highlight 
            by including a <code>districts</code> query parameter 
            containing a comma-deliniated list of school districts. 
            I.e. to highlight districts 368 and 407, you would use 
            the url:
        </p>
        <div>
            <code>@Model.BaseUrl/Map?districts=368,407</code>
        </div>
        <img src="@Model.BaseUrl/Map?districts=368,407" alt="Highight Example Map"/>

        <p>
            You can also supply a custom color to use for filling the 
            highlighted districts (the default is K-State purple). This 
            should be provided as the <code>fill</code> query parameter. 
            It can use HTML color names or hex color values (though you must 
            omit the "#"):
        </p>
        <div>
            <code>@Model.BaseUrl/Map?districts=312,403&fill=yellow</code>
        </div>
        <img src="@Model.BaseUrl/Map?districts=312,403&fill=yellow" alt="HTML Color Fill Example"/>
        
        <div>
            <code>@Model.BaseUrl/Map?districts=383&fill=44af</code>
        </div>
        <img src="@Model.BaseUrl/Map?districts=383&fill=44af" alt="Hex Fill Example"/>
    </body>
</html>